
body {
    font-family: 'Roboto', sans-serif;

}


.header {
    height: 75px;
    background: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #F9FAF8;
    padding: 0px 250px;
    
}

.logo {
    font-weight: bold;
}

ul {
    list-style-type: none;
    display: flex;
    
}

li {
   margin-left: 20px;
   font-size: 18px;  
}

a {

    color: #E5E7EB;
    text-decoration: none;
}

h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.column-one {
    background-color: #1f2937;
    padding: 0px 250px;
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
    color: #E5E7EB;
    gap: 100px;
    padding-bottom: 100px;
}

.box-one, .box-two {
    flex: 1;  
}


button {
    background-color: #3882F6;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
}

.p-style-one {

    color:aquamarine;
}

.p-style-two {
    color:rgb(39, 26, 216);
}

.column-two {
   display:flex; 
    justify-content: center;
    gap: 52px;
    flex-direction: column;
    
}


h3 {
    font-size: 36px;
    color: #1F2937;
    weight: 900;
    text-align: center;
    


}

.small-img {

    width: 200px;
    height: 200px;
}

.plant {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 200px;
    margin: 0px 52px;
}

.plants {
    display: flex;
    flex-direction: row;
    justify-content: center;

}