
body {
    font-family: 'Roboto', sans-serif;

}


.header {
    height: 75px;
    background: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #F9FAF8;
    padding: 0px 250px;
    
}

.logo {
    font-weight: bold;
}

ul {
    list-style-type: none;
    display: flex;
    
}

li {
   margin-left: 20px;
   font-size: 18px;  
}

a {

    color: #E5E7EB;
    text-decoration: none;
}

h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.column-one {
    background-color: #1f2937;
    padding: 0px 250px;
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
    color: #E5E7EB;
    gap: 100px;
    padding-bottom: 100px;
}

.box-one {
    flex: 1;  
}

.box-two {
    flex: 1;
}

button {
    background-color: #3882F6;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;


}